<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.testsrunner.launch.CTestsRunner">
    <stringAttribute key="bad_container_name" value="/llvm-mono"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="0"/>
    <stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_ARGUMENTS" value="${workspace_loc:llvm-mono-git}&#10;${workspace_loc:llvm-mono-git}/../llvm-mono-git-build&#10;test"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="/home/jdenny/ornl/meta-git/llvm/lit2tap.pl"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="llvm"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.WORKING_DIRECTORY" value="${workspace_loc:llvm-mono-git}/../llvm-mono-git-build"/>
    <stringAttribute key="org.eclipse.cdt.testsrunner.launch.TESTS_RUNNER" value="org.eclipse.cdt.testsrunner.tap"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/llvm"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="process_factory_id" value="org.eclipse.cdt.testsrunner.TestingProcessFactory"/>
</launchConfiguration>
